<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </solution>
  <packageSources>
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Razor Pages SDK" value="https://ci.appveyor.com/nuget/DotNetNuke.Web.Mvc.RazorPages.SDK" />
  </packageSources>
</configuration>